/* -------------- VARIÁVEIS --------------- */
:root {
    --first-color: #104EB3;
    --second-color: #C0D8FF;
    --third-color: #2176FF;
    --fourth-color: #B37A09;
    --fifth-color: #FFB521;
    --black-color: #000;
    --white-color: #fff;
    --dark-gray-color: #888;
    --ligth-gray-color: #ddd;
    --main-font-color: #000;
    --menu-font-color: #fff;
    --main-gap: 3rem;
    --font-main: 'Questrial', sans-serif;
    --font-secondary: 'Chivo Mono', monospace;
}

/* -------------- VARIÁVEIS --------------- */

/* -------------- FONTS --------------- */

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@900&family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap&?family=Questrial&display=swap');
/* -------------- FONTS --------------- */

/* -------------- RESET --------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------- RESET --------------- */

/* -------------- GERAIS --------------- */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: var(--font-main);
}

.p-justificado {
    text-align: justify;
    text-indent: 4rem;
    font-size: 1.8rem;
    color: var(--dark-gray-color);
}

.text-justificado {
    color: var(--white-color);
    text-align: justify;
    background-color: var(--first-color);
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0 1.5rem 1.5rem 0;
    box-shadow: 5px 5px 5px var(--black-color);
}

.text-destaque {
    font-family: var(--font-secondary);
    font-size: 5rem;
    text-align: justify;
    font-weight: 800;
}

.engedev {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-main);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 3rem;
}

.titulo {
    margin-top: 7.5rem;
    text-align: center;
    position: relative;
}

.titulo h1::after {
    content: '';
    position: absolute;
    height: 0.3rem;
    width: 30%;
    left: 35%;
    top: 6rem;
    background-color: var(--fourth-color);
}


/* -------------- GERAIS --------------- */

/* -------------- MENU --------------- */
aside {
    width: 100vw;
    background-color: var(--first-color);
    position: fixed;
    z-index: 10;
}

/* div para conteúdo do menu */
.menu {
    display: grid;
    height: 8rem;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    margin: 0 auto;
    max-width: 110rem;
}

/* Barra de navegação */
aside nav ul {
    width: 55rem;
    position: fixed;
    display: flex;
    justify-items: right;
    font-size: 2rem;
    list-style: none;
    align-items: center;
    height: 8rem;
}

/* Formatação da logomarca */
.container-logo-menu {
    width: 50%;
    display: flex;
    align-items: center;
}

.text-logo {
    color: var(--menu-font-color);
    font-size: 3.5rem;
}

.logo-menu {
    width: 5rem;
    margin: .5rem;
}

/* Botões da navegação */
aside nav ul a {
    display: block;
    text-decoration: none;
    padding: 2rem;
    position: relative;
}

/* Formatação da navegação */
aside nav ul a:visited {
    color: var(--menu-font-color);
}

aside nav ul a:link {
    color: var(--menu-font-color);
}

aside nav ul a:active {
    color: var(--menu-font-color);
}

/* Animação da navegação */
aside nav ul a::after {
    content: '';
    position: absolute;
    bottom: 5rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background-color: var(--fifth-color);
    transition: all 300ms ease-in-out;
}

aside nav ul a:hover::after {
    width: 50%;
    left: 25%;
    bottom: 1rem;
}

/* Menu suspenso */
.menu-suspenso {
    display: none;
    position: fixed;
    top: 1rem;
    left: 88vw;
    z-index: 2;
    background-color: var(--ligth-gray-color);
    z-index: 11;
}

.menu-suspenso p {
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0 .5rem;
    border: 0.1rem solid var(--first-color);
}



/* -------------- MENU --------------- */

/* -------------- JANELA IMAGEM --------------- */
.janela-transparente {
    display: none;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    border: 1px solid var(--black-color);
    text-align: center;
    overflow: scroll;
    z-index: 9;
}

.janela-imagem {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 85vh;
    margin-top: 10rem;
    border: 2px solid var(--third-color);
}

/* -------------- JANELA IMAGEM --------------- */

/* -------------- SEÇÃO 1 - INTRO --------------- */

.container-intro {
    max-width: 110rem;
    display: grid;
    grid-template-columns: 1fr 1.9fr;
    margin: 0 auto;
    background-image: url(../imgs/Polygon\ Luminary.svg);
    background-size: 98%;
    background-position: top right;
    background-repeat: no-repeat;
}

.section-intro-content {
    font-weight: 100;
    color: var(--black-color);
    font-size: 2rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    align-items: last baseline;
}

.logotipo {
    width: 4rem;
}

.container-logo {
    display: flex;
    align-items: center;
}

.section-intro-img {
    color: var(--second-color);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: end;
}

.section-intro-img img {
    width: 80%;
    border-radius: 2rem 0 0 2rem;
    box-shadow: -5px 5px 10px var(--black-color);
}

.section-intro-content>abbr {
    display: flex;
}

.section-intro-content>abbr>img {
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

/* -------------- SEÇÃO 1 - INTRO --------------- */


/* -------------- SEÇÃO 2 - PRODUTOS A-REDE --------------- */
.section-prod-1 {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.container-sec-prod-1 {
    max-width: 110rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2rem auto;
}

.section-prod-1-content {
    color: var(--black-color);
    font-size: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-prod-1-img {
    display: flex;
    justify-items: right;
    align-items: center;

}

.section-prod-1-img img {
    width: 90%;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 5px 5px 5px var(--black-color);
    border: 1px solid var(--black-color);
}

/* -------------- SEÇÃO 2 - PRODUTOS A-REDE --------------- */

/* -------------- SEÇÃO 3 - PRODUTOS SESCAD --------------- */
.container-sec-prod-2 {
    max-width: 110rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.section-prod-2-content {
    font-weight: 100;
    color: var(--black-color);
    font-size: 2rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section-prod-2-img {
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.section-prod-2-img img {
    width: 90%;
    border-radius: 2rem 0 0 2rem;
    box-shadow: -5px 5px 5px var(--black-color);
    border: 1px solid var(--black-color);
}

/* -------------- SEÇÃO 3 - PRODUTOS SESCAD --------------- */

/* -------------- SEÇÃO 4 - PRODUTOS CADAMS --------------- */
.container-sec-prod-3 {
    max-width: 110rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
}

.section-prod-3-content {
    font-weight: 100;
    color: var(--black-color);
    font-size: 2rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.section-prod-3-img {
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.section-prod-3-img img {
    width: 90%;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 5px 5px 5px var(--black-color);
    border: 1px solid var(--black-color);
}

/* -------------- SEÇÃO 4 - PRODUTOS CADAMS --------------- */

/* -------------- SEÇÃO 5 - Depoimento --------------- */
.depoimento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.depoimento-container {
    height: 20rem;
    width: 110rem;
    background-color: var(--second-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--black-color);
    box-shadow: 3px 3px 3px var(--black-color);
}

.depoimento-container-img {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.depoimento-container-img img {
    width: 5rem;
    border-radius: 50%;
    border: .4rem solid var(--fifth-color);
}

.depoimento-container-content {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem auto;
}

/* -------------- SEÇÃO 5 - Depoimento --------------- */

/* -------------- SEÇÃO 6 - GALERIA --------------- */
.section-galeria {
    display: flex;
    align-items: center;
}

.container-sec-galeria {
    background-color: var(--white-color);
    max-width: 110rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 2rem auto 0 auto;
    padding: 5rem;
}

.section-galeria-img {
    display: flex;
    justify-items: center;
    align-items: center;
}

.section-galeria-img img {
    width: 100%;
    transition: all 300ms ease-in-out;
    border: 0.5rem solid var(--third-color);
}

.section-galeria-img img:hover {
    cursor: pointer;
    /* transform: translate(3%, 3%) scale(1.2) rotate(5deg); */
}

/* -------------- SEÇÃO 6 - GALERIA --------------- */

/* -------------- SEÇÃO 7 - EQUIPE --------------- */
.section-equipe {
    align-items: center;
}

.container-sec-equipe {
    max-width: 110rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
    margin: 2rem auto;
    border-bottom: 1px solid var(--ligth-gray-color);
}

.section-equipe-content {
    color: var(--black-color);
    font-size: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-equipe-img1 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1rem;
    max-height: 25rem;
    margin: 2rem;
}

.section-equipe-img1 img {
    border-radius: 50%;
    border: 1rem solid var(--fourth-color);
    width: 80%;
    max-height: 25rem;
}

.section-equipe-img2 {
    display: flex;
    justify-items: left;
    align-items: center;
    margin-right: 50%;
    max-height: 25rem;
}

.section-equipe-img2 img {
    border-radius: 50%;
    border: 1rem solid var(--fourth-color);
    width: 100%;
    max-height: 25rem;
    margin: 2rem;
}

/* -------------- SEÇÃO 7 - EQUIPE --------------- */

/* -------------- SEÇÃO 8 FORMULÁRIO --------------- */
.form {
    height: 40rem;
    width: 110rem;
    font-size: 2rem;
    background-image: url(../imgs/Wave.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    border-radius: 2rem;
    border: 1px solid var(--black-color);
    box-shadow: 3px 3px 3px var(--black-color);
}

form {
    text-align: center;
    padding: 2rem;
}

.input-text {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    width: 40rem;
}

select:invalid {
    color: var(--dark-gray-color);
}

.input-button {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    width: 10rem;
}

/* -------------- SEÇÃO 8 FORMULÁRIO --------------- */

/* -------------- FOOTER --------------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 20rem;
    background-color: var(--second-color);
    border: 1px solid var(--black-color);
    padding: 1rem;
}

.container-contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--second-color);
    width: 110rem;
    height: 100%;
    gap: 2rem
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.footer-contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

footer div a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
}

footer div a:hover {
    text-decoration: none;
}

footer div img {
    width: 4rem;
    margin: 0.3rem;
}

/* -------------- FOOTER --------------- */

/* -------------- MEDIA QUERY (RESPONSIVIDADE) --------------- */
@media (max-width:850px) {
    .menu-suspenso {
        display: block;
    }

    aside nav ul {
        left: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        display: block;
        justify-content: center;
        text-align: center;
        background-color: var(--first-color);
    }

    .menu {
        display: block;
    }

    .container-sec-prod-1,
    .container-sec-prod-2,
    .container-sec-prod-3,
    .container-sec-galeria {
        display: block;
    }

    .section-galeria-img {
        margin: 2rem;
    }

    /* -------------- MEDIA QUERY (RESPONSIVIDADE) --------------- */
}